@charset "UTF-8";


@media screen and (orientation: portrait) {
    section, div, h3{
flex-direction: column;

}
}




@media screen and (orientation: portrait) {
    .titulo, section{
 padding: 90px 20px 30px 20px;
 font-size: 10px;
 margin: auto;
    }
    .titulo, h1{
      
    }
}
@media screen and (orientation: portrait) {
    #carrinho{
        margin-right: 10px;
        padding: 12px;
        border-radius: 50%;
    }
    .menu{
        margin: auto;
    }
}



main{
    padding: 10px;
}
.smash, .newburguer{
 padding-left: 50px;
      
    }



@media screen and (orientation: portrait){
     .spacename > h1{
    font-size: 30px;
     
    }
}

@media screen and (orientation: portrait){
    .spacename > p{
   font-size: 15px;
    
   }
}




@media screen and (orientation: portrait) {
    .nav{
        padding-left: 20px;
    }
}

@media screen and (orientation:portrait){
#drinks, h3{
margin-left: 10px;

}
}

@media screen and (orientation: portrait) {
    footer{
       display: block; 
       margin-top: 50px;
       font-size: 12px;
    }
    .criador:hover{
        color: rgb(93, 93, 241);
    }
}