@charset "UTF-8";


@media screen and (orientation: portrait) {
    section, div, h3{
flex-direction: column;

}
div{
    padding: 10px;
}

div > h3{
    font-size: 2.9em;
}
.lanche{
    font-size: 2.4em;
}
}


#blocoprincipal {
    width: 100vw;
 


   
}
div > h3{
margin: auto;
padding: 5px 3px 5px 3px;
}



@media screen and (orientation: portrait) {
    .titulo, section{
 padding: 90px 20px 30px 20px;
 font-size: 10px;
 margin: auto;
    }
   
}
@media screen and (orientation: portrait) {
    #carrinho{
        margin-right: 10px;
        padding: 10px;
        border-radius: 50%;
        height: 50%;
        
    }
    #carrinho > a{
       padding: 5px;
       border: 2px solid black
        
    }

    .menu{
        color: rgb(255, 255, 255);
       border: none;
       font-size: 4.0em;
       }
       
}







@media screen and (orientation: portrait){
     .spacename > h1{
    font-size: 30px;
     
    }
}

@media screen and (orientation: portrait){
    .spacename > p{
   font-size: 15px;
    
   }
}




@media screen and (orientation: portrait) {
    .nav{
        padding-left: 20px;
    }
  
}

@media screen and (orientation:portrait){
    #drinks, h3{
    margin-left: 10px;
    
    }
    }

@media screen and (orientation: portrait) {
    footer{
       display: block; 
       margin-top: 50px;
       font-size: 12px;
    }
    .criador:hover{
        color: rgb(93, 93, 241);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #navegacao{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}
