@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
 box-sizing: border-box;
}



body, html {

  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(20, 20, 20);
  height: 100%;
 
}




/* HEADER */
.titulo {
background-image: url(../imagens/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg);
color: rgb(255, 255, 255);
text-shadow: 2px 2px 0px black;
font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
background-size: cover;
padding:300px 40px 300px 50px;
margin: 10px 20px 10px 20px;
}

main#navegacao{
  display: flex;
  flex-direction: column;

 
}


.spacename{
  font-size: 2.5em;
  padding: 10px;
 
 
}
.spacename > p {
  font-size: 0.8em;
}

.menu{
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-size: 3.0em;
}


.smash h3{
  display: flex;
  
}


.burguer{
  padding: 50px;
  margin: auto;
}

#drinks{
  margin-left: 100px;
}

.add{
  margin-left: 50px;
}


section{
  display: flex;
 
}




div{
 padding-top: 50px;
  
}



section  h3{
  color: white;
  font-size: 2.0em;
  border: 5px solid rgb(255, 187, 0);
  border-radius: 12px;
  padding: 10px;
 margin-right: 100px;
text-align: center;
}


header > p {
  padding: 10px;
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 1px black;
}



li {
  font-size: 30px;
  color: orangered;
  padding: 10px;
  list-style: none;
  
}





#carrinho {
  padding: 20px;
  margin-top: 20px;
  display: flex;
 margin-left: 80%;
 border-radius: 50%;
 height: 50%;
}
#carrinho > a{
  border: 3px solid black;
}

.complementos {

  font-size: 16px;
  color: white;
  padding-right: 30px;
  margin-right: 30px;
}







.valor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: white;
  text-decoration: none;
  padding: 5px;
  color: orangered;
  border: 2px solid black;
  border-radius: 10px;
}

.nav a {
  border-radius: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(22, 22, 22);
  padding: 10px;
  text-decoration: none;
  border: 3px solid orangered;
  background-color: white;
}
#nav-bar{
  padding: 10px;
}

nav a:hover {
  background-color: rgb(240, 101, 51);
}

.valor:hover {
  background-color: orangered;
  color: white;
}

footer {
  margin-top: 80px;
  justify-content: end;
  
}

footer a, p{
  color: white;
 margin: 10px;
 padding: 8px;
 text-decoration: none;
 
}
footer a:hover{
  color: rgb(216, 107, 68);
}


footer > p{
margin: 10px;
}

.criador{
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
}
.criador:hover{
  color: rgb(93, 93, 241);
}